[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-requests-auth = "==0.4.1"
elasticsearch = "==7.10.1"
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.6"
urllib3 = ">=1.26.5"
pytz = ">=2021.1"
common-lib = "*"
requests = ">=2.25.1"
feedparser = ">=6.0.2"
beautifulsoup4 = ">=4.9.3"
selenium = ">=3.141.0"
chromedriver-py = ">=92.0.4515.43"
webdriver-manager = ">=3.4.2"

[dev-packages]

[requires]
python_version = "3.9"
